@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Scheherazade New";
    src: url("/fonts/ScheherazadeNew-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Scheherazade New";
    src: url("/fonts/ScheherazadeNew-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "IBM Plex Arabic";
    src: url("/fonts/IBMPlexArabic-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "IBM Plex Arabic";
    src: url("/fonts/IBMPlexArabic-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  html {
    direction: rtl;
  }

  body {
    @apply font-ui text-gray-900 bg-white;
  }
}
